::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background:rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb{background:black;}
@font-face {
   	font-family: hindiKrutiDev; 
	src: url('./k10/k010.eot');
	src: local('k010'), url('./k10/k010.woff') format('woff'), url('./k10/k010.ttf') format('truetype');
}
:root{
    --themecolor:#1dd5e6;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	background-color:dodgerblue;
	overflow-x:hidden;
}
#highlight{
	color:var(--themecolor);
	/* color:silver; /* to create without highlight word */ 
}
#main{
	height:100%;
	width:100%;
	background-color: rgb(20, 20, 20);
	position:fixed;
	display: flex;
	justify-content: space-between;
}
.container{
	background-color: #191919;
	height:100%;
}
#userWork{
	width:79.8%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(20, 20, 20);
}
#write{
	height:95%;
	width: 99%;
	background-color: transparent;
	outline:none;
	border: none;
	color:white;
	resize: none;
	font-size:28px;
}
.forKrutiDev{	font-family: hindiKrutiDev;
}
.forEnglish{
	font-family: 'Calibri';
}
.forMangal{
	font-family: 'Mangal';
}
#userProfile{
	width:19.8%;
	display:flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.textContainer{
	height:46%;
	width:95%;
	padding:1% 2.5%;
	background-color: #191919;
	font-size:30px;
	color:silver;
	overflow-y:auto;
	border-top:2px solid var(--themecolor);
	-webkit-scroll-behavior: smooth;
	scroll-behavior: smooth;
	word-wrap: wrap;
	text-indent:20px;
}
#profileImg{
 height:16.5vw;
 width:17vw;
 background-size:101%;
 background-image:url('ram.png');
 border-radius: 100%;
 margin-top: 1.8vw;
 border: 5px solid var(--themecolor);
}

#userProfile #userName{
	color: antiquewhite;
	text-transform: uppercase;
	margin: 1.5vw;
	font-size: 1.6vw;
	letter-spacing: 0.2vw;
}

.pointCase{
	width: 82%;
	height:80px;
	position: relative;
	margin:10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.pointCase label{
	position: absolute;
	background-color: #191919;
	color: antiquewhite;
	top:-.55vw;
	padding: 0vw .5vw 0vw .5vw;
	font-size: 1.2vw;
	letter-spacing: 0.25vw;
}

.pointCase input{
	height:100%;
	width:100%;
	outline: none;
	background-color: transparent;
	border:0.25vw solid var(--themecolor);
	border-radius: 0.6vw;
	text-align: center;
	color: antiquewhite;
	font-size: 3.2vw;
	letter-spacing: 0.45vw;
}

#restart{
	color:var(--themecolor);
	background-color: transparent;
	padding:20px 40px;
	border:none;
	font-size:20px;
	cursor:pointer;
}

#restart:hover{color: #ebebeb;}

#animationContainer{
	width:100%;
	height:50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:5px;
	position:absolute;
	bottom:0px;
	background-image: linear-gradient(to top,rgb(0,0,0),rgba(0,0,0,.8),rgba(0,0,0,0));
}
.animationBox{
	color:#191919;
	height:30px;
	width:30px;
	background-image:radial-gradient(lightgreen,green);
	border-radius:50%;
	border:2px solid green;
	box-shadow:0 0 5px rgba(0,255,0,.2);
	transform: translatey(20px);
	display:flex;
	justify-content: center;
	align-items: center;
	animation:bubble 1.5s ease-in-out infinite;
}
#ab10{animation-delay:.2s;}
#ab9{animation-delay:.4s;}
#ab8{animation-delay:.6s;}
#ab7{animation-delay:.8s;}
#ab6{animation-delay:1s;}

#btnClose{
	box-shadow:0 5px 10px black;
	background:red;
	padding:15px 40px;
	border-radius:40px;
	border:none;
	color:white;
	margin:10px;
}
#btnClose:hover{
	background:tomato;
}

@keyframes bubble{
	0%{transform: translatey(20px);}
	50%{transform: translatey(-10px);}
	100%{transform: translatey(20px);}
}
@keyframes themeStyle{
    0%{transform:translatey(15px);opacity:0;}
    100%{transform:translatey(0px);opacity:1;}
}

