::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background:rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb{background:black;}
:root{
    --themecolor:#1dd5e6;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	background-color:dodgerblue;
	overflow-x:hidden;
}
#main{
	height:100%;
	width:100%;
	background-color: rgb(20, 20, 20);
	position:fixed;
	display: flex;
	justify-content: space-between;
}
.container{

	background-color: #191919;
	height:100%;
}
#userWork{
	width:79.8%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(20, 20, 20);

}
#write{
	height:94%;
	width: 100%;
	background-color: transparent;
	outline:none;
	border: none;
	font-size: 1.7vw;
	font-family: Yu Gothic UI;
	padding:1%;
	color:white;
}
#userProfile{
	width:19.8%;
	display:flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.textContainer{
	height:49.5%;
	width:95%;
	padding:0% 2.5%;
	background-color: #191919;
	color:antiquewhite;
}
#profileImg{
 height:16.5vw;
 width:17vw;
 background-size:101%;
 background-image:url('ram.png');
 border-radius: 100%;
 margin-top: 1.8vw;
 border: 5px solid var(--themecolor);
}

#userProfile p{
	color: antiquewhite;
	text-transform: uppercase;
	margin: 1.5vw;
	font-size: 1.6vw;
	letter-spacing: 0.2vw;
}

.pointCase{
	width: 82%;
	height:80px;
	position: relative;
	margin:10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.pointCase label{
	position: absolute;
	background-color: #191919;
	color: antiquewhite;
	top:-.55vw;
	padding: 0vw .5vw 0vw .5vw;
	font-size: 1.2vw;
	letter-spacing: 0.25vw;
}

.pointCase input{
	height:100%;
	width:100%;
	outline: none;
	background-color: transparent;
	border:0.25vw solid var(--themecolor);
	border-radius: 0.6vw;
	text-align: center;
	color: antiquewhite;
	font-size: 3.2vw;
	letter-spacing: 0.45vw;
}

#restart{
	color:var(--themecolor);
	background-color: transparent;
	padding:20px 40px;
	border:none;
	font-size:20px;
	cursor:pointer;
}

#restart:hover{color: #ebebeb;}

@keyframes themeStyle{
    0%{transform:translatey(15px);opacity:0;}
    100%{transform:translatey(0px);opacity:1;}
}
